<div class="toc-wrapper">

  <div class="top-bar">
    <button class="back-btn" (click)="goHome()">
      ← Back
    </button>
  </div>

  <h1 class="toc-title">Table of Contents</h1>

  <div class="toc-grid">

    <!-- Class Notes -->
    <section class="toc-section">
      <h2>Class Notes (Pdfs available)</h2>

      <ol class="toc-list">
        <li>
          <a href="assets/notes/day1.pdf" target="_blank">
            Day 1: Introduction to Angular
          </a>
        </li>

        <li>
          <a href="assets/notes/day2.pdf" target="_blank">
            Day 2: Modules and Binding
          </a>
        </li>

        <li>
          <a href="assets/notes/day3.pdf" target="_blank">
            Day 3: Structural Directives and Routing
          </a>
        </li>

        <li>
          <a href="assets/notes/day4.pdf" target="_blank">
            Day 4,5,6: Git and GitHub
          </a>
        </li>

        <li>
          <a href="assets/notes/day7.pdf" target="_blank">
            Day 7: Netlify and Dist Folder
          </a>
        </li>

        <li>
          <a href="assets/notes/day8.pdf" target="_blank">
            Day 8,9: Component Communication
          </a>
        </li>

        <li>
            Day 10: Services and Subscribe (Will be available soon)
        </li>
      </ol>
    </section>

    <!-- Personal Notes -->
    <section class="toc-section">
      <h2>Personal Notes (Coming Soon)</h2>

      <ol class="toc-list">
        <li>UI Components</li>
        <li>Types of Pages</li>
        <li>Angular CLI</li>
        <li>Angular Concepts</li>
        <li>How to Build a Frontend Application - Steps</li>
        <li>Example: CheckGo Application</li>
        <li>Angular Libraries / Packages for Further Exploration</li>
      </ol>
    </section>

  </div>

</div>