<div class="home-container">
  <div class="hero-left">
    <img src="assets/notebook.png" class="notebook-img" />
  </div>

  <div class="hero-right">
    <h1>
        <span class="word">Gayatri's</span>
        <span class="word">Notebook</span>
    </h1>
    <div class="button-group">
      <div class="button-group-row">
        <button class="hero-btn">Button 1</button>
        <button class="hero-btn">Button 2</button>
        <button class="hero-btn">Button 3</button>
      </div>
    </div>
  </div>
</div>